{% extends "base.html" %}

{% block title_head %}Condicionales y bucles{% endblock title_head %}

{% block h1_header %}Condicionales y bucles{% endblock h1_header %}

{% block main %}
    <h1>Este es el nuevo</h1>
    <p>
        {{nombre}}
    </p>
    {% if mis_elementos %}
    <p>Mi lista tiene valores</p>
    {% else %}
    <p>Mi lista no tiene valores</p>
    {% endif %}

    <p>
        {{numeros}}
    </p>
    {% if numeros|length > 5 %}
    <ul>   
        <li>  
            {{numeros}}   #ol para que aparezca ordenado
        </li>       
    </ul>
    {% endif %}

    {% if numeros %}
    <ul>
        {% for n in numeros %}
            <li>  
                {{n}}   bucle for
            </li>             
        {% endfor %}       
    </ul>
    {% endif %}
{% endblock main %}